<div class="form-container">
  <div>
    <form [formGroup]="formInserimento" (ngSubmit)="onSubmit()">
      <label for="classe">Classe</label>
      <input
        type="number"
        id="classe"
        name="classe"
        min="1"
        max="5"
        required
        formControlName="classe"
      />

      <label for="sezione">Sezione</label>
      <input
        type="text"
        id="sezione"
        name="sezione"
        required
        formControlName="sezione"
      />

      <label for="laboratorio">laboratorio</label>
      <select
        name="laboratorio"
        id="laboratorio"
        required
        formControlName="laboratorio"
      >
        <option value="true">SI</option>
        <option value="false">NO</option>
      </select>

      <label for="">Rappresentante</label>
      <input type="text" formControlName="rappresentante" />

      <label for="">Mascotte (Url)</label>
      <input type="text" formControlName="mascotte" />

      <button>Aggiungi</button>
    </form>
  </div>
</div>
