.listaTotale {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.listaTotale .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.listaTotale .card h2 {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.listaTotale .card p {
  margin: 0;
  padding: 5px 0;
}

.listaTotale .card p:nth-child(odd) {
  background-color: #f9f9f9;
}

.listaTotale .card p:last-child {
  font-weight: bold;
}
